<h1>Add a new specialty</h1>
<form action="/specialties" method="post">
  <label for="description">Add a new specialty</label>
  <input id="description" name="description" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to home page</a></p>
<p><a href="/specialties">View all specialties</a></p>