<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Yello!</title>
  </head>
  <body>
    <h1>Add a new client to @Model.Name</h1>

<form action='/stylists/@Model.Id/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.Id'>
  <label for='clientName'>Client details</label>
  <input id='clientName' name='clientName' type='text'>
  <button type='submit'>Add client</button>
</form>

  </body>
</html>
