<h1>Client Details: </h1>

<h2>@Model["client"].Name</h2>
<h3>Stylist: @Model["stylist"].Name</h3>

<p><a href='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/edit'>Edit this Client</a></p>

<form action='/stylists/@Model["stylist"].Id/clients/@Model["client"].Id/delete' method="post">
  <button type="submit">Delete</button>
</form>

<p><a href='/stylists/@Model["stylist"].Id/clients/new'>Add another client</a></p>
<p><a href='/stylists/@Model["stylist"].Id/edit'>Edit Client @Model["client"].Name</a></p>
<p><a href='/stylists/@Model["stylist"].Id/clients'>Return to client list</a></p>